.block {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 25rem;
  border: 1px solid;
  padding: 1rem;
  margin-right: 2rem;

  & > :last-child {
    margin-top: auto;
  }
}

.deleteColumnButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.title {
  font-weight: bold;
  margin-bottom: 2rem;
}

.rowContainer {
  display: flex;
  flex-direction: column;
}
