.container {
  display: flex;
  flex-direction: row;
}

.textInput {
  height: 2rem;
  line-height: 2rem;
  border: 1px solid;
  border-radius: 1rem;
  padding: 0 1rem;
  margin-right: 1rem;
  outline-width: 0;
}

.button {
  border: 1px solid;
  height: 2rem;
  color: white;
  background-color: red;
  line-height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  outline-width: 0;
}
